# Android Studio / IntelliJ
.idea/
*.iml
*.iws
*.ipr
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/gradle.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# Gradle
.gradle/
build/
**/build/

# Local configs
local.properties

# Android generated
captures/
.externalNativeBuild/
.cxx/

# OS junk
.DS_Store
Thumbs.db
